:root {
  --hero-purple: rgba(152, 100, 218, 0.93);
  --hero-pink: rgba(251, 80, 142, 0.93);
  --hero-green: rgba(40, 238, 167, 0.93);
  --hero-grey: #363738;
  --se-white: #f1f2f3;
  --se-green: #28eea7;
  --se-light-grey: #dcdee1;
  --se-dark-grey: #232323;
}
/* Flex */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: end;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: start;
}
.items-end {
  align-items: end;
}
.grow {
  flex-grow: 1;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}

.util-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 800;
  padding: 15px 20px;
  border-style: none;
}

.section-dots {
  display: flex;
  gap: 10px;
}
.section-dots > * {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/* text-color */
.text-light-grey {
  color: var(--se-light-grey) !important;
}
.text-white {
  color: var(--se-white) !important;
}
.text-green {
  color: var(--se-green) !important;
}

/* font */
.weight-400 {
  font-weight: 400 !important;
}
.weight-700 {
  font-weight: 700 !important;
}
.weight-900 {
  font-weight: 900 !important;
}

/* border */
.round {
  border-radius: 50% !important;
}
.border-20 {
  border-radius: 20px;
}

/* background-color */
.bg-white {
  background-color: var(--se-white) !important;
}
.bg-light-grey {
  background-color: var(--se-light-grey) !important;
}
.bg-dark-grey {
  background-color: var(--se-dark-grey) !important;
}
.bg-grey {
  background-color: var(--hero-grey) !important;
}
.bg-green {
  background-color: var(--se-green) !important;
}
